*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header .container {
  display: flex;
}
a {
  text-decoration: none;
}
.second_level_heading {
  color: #2e2f42;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  text-align: center;
}
/* Header */

.header {
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-item {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
}
.active-link {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item.active-link:after {
  display: block;
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  bottom: -1px;
  left: 0px;
}

.nav-list-item:hover {
  color: var(--OCEAN, #404bbf);
}
.nav-list-item:focus {
  color: var(--OCEAN, #404bbf);
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}
.address-list-item {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-items {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-items:hover {
  color: #404bbf;
}
.address-items:focus {
  color: #404bbf;
}
/* main content */
/* sectoin1 */

.section-one {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}
.button {
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
/* section2 */
.background-svg {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-two {
  padding: 120px 0;
  background: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-list {
  display: flex;
  gap: 24px;
}
.section-two-list-item {
  width: calc((100% - 72px) / 4);
}
/* section3 */
.section-three {
  background: var(--CLOUD, #f4f4fd);
  padding: 120px 0;
}
.second_level_heading {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-three-list {
  display: flex;
  gap: 24px;
}
.section-three-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.name-position {
  padding: 32px 0;
  text-align: center;
}

.title-h-three {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.content {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.social-networks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
}
.social-networks {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  margin: 8px 0 0 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-networks {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin: 12px;
  fill: #f4f4fd;
}

.social-networks-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks-link:hover {
  background-color: #404bbf;
}
.social-networks-link:focus {
  background-color: #404bbf;
}
/* section4 */
.section-four {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.content-portfolio {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.section-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-four-list-item {
  background: #fff;
  padding-bottom: 0px;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.section-four-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.section-four-list-item:hover .text-overlay {
  transform: translateY(0%);
}
.app-categories {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-images-container {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.footer-logo {
  margin-bottom: 16px;
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
}
.container-logo {
  margin-right: 120px;
}
.footer-studio {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-content {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}
.footer-wraper {
  display: flex;
  align-items: baseline;
}
.footer-text-social {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer-social-networks-container {
  display: flex;
  gap: 16px;
}
.footer-social-networks-list {
  width: 40px;
  height: 40px;
}
.footer-icon-social-networks {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 8px;
  fill: #f4f4fd;
}
.footer-social-networks-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-networks-link:hover {
  background-color: var(--GREEN, #31d0aa);
}
.footer-social-networks-link:focus {
  background-color: var(--GREEN, #31d0aa);
}
